In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
df = pd.read_csv(r'C:\Users\Admin\Downloads\Movies.zip')

In [6]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10329 entries, 0 to 10328
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  10329 non-null  int64
 1   title    10329 non-null  object
 2   genres   10329 non-null  object
dtypes: int64(1), object(2)
memory usage: 242.2+ KB

In [8]:
df.shape

(10329, 3)

In [9]:
df.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [12]:
df['features'] = df[['title', 'genres']].fillna('').apply(lambda x: ' '.join(x), axis=1)

In [13]:
print(df)

       movieId                                title  \
0            1                     Toy Story (1995)
1            2                       Jumanji (1995)
2            3              Grumpier Old Men (1995)
3            4             Waiting to Exhale (1995)
4            5   Father of the Bride Part II (1995)
...        ...                                  ...
10324   146684        Cosmic Scrat-tastrophe (2015)
10325   146878           Le Grand Restaurant (1966)
10326   148238       A Very Murray Christmas (2015)
10327   148626                 The Big Short (2015)
10328   149532  Marco Polo: One Hundred Eyes (2015)

                                            genres  \
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
10324                    Animation|Children|Comedy
10325                                       Comedy
10326                                       Comedy
10327                                        Drama
10328                           (no genres listed)

                                                features
0      Toy Story (1995) Adventure|Animation|Children|...
1              Jumanji (1995) Adventure|Children|Fantasy
2                 Grumpier Old Men (1995) Comedy|Romance
3          Waiting to Exhale (1995) Comedy|Drama|Romance
4              Father of the Bride Part II (1995) Comedy
...                                                  ...
10324  Cosmic Scrat-tastrophe (2015) Animation|Childr...
10325                  Le Grand Restaurant (1966) Comedy
10326              A Very Murray Christmas (2015) Comedy
10327                         The Big Short (2015) Drama
10328  Marco Polo: One Hundred Eyes (2015) (no genres...

[10329 rows x 4 columns]

In [15]:
df['features'].shape

(10329,)

In [16]:
df['features']

0        Toy Story (1995) Adventure|Animation|Children|...
1                Jumanji (1995) Adventure|Children|Fantasy
2                   Grumpier Old Men (1995) Comedy|Romance
3            Waiting to Exhale (1995) Comedy|Drama|Romance
4                Father of the Bride Part II (1995) Comedy
                               ...
10324    Cosmic Scrat-tastrophe (2015) Animation|Childr...
10325                    Le Grand Restaurant (1966) Comedy
10326                A Very Murray Christmas (2015) Comedy
10327                           The Big Short (2015) Drama
10328    Marco Polo: One Hundred Eyes (2015) (no genres...
Name: features, Length: 10329, dtype: object

In [19]:
df['features'] = df['title'] + ' ' + df['genres']
print(df)

       movieId                                title  \
0            1                     Toy Story (1995)
1            2                       Jumanji (1995)
2            3              Grumpier Old Men (1995)
3            4             Waiting to Exhale (1995)
4            5   Father of the Bride Part II (1995)
...        ...                                  ...
10324   146684        Cosmic Scrat-tastrophe (2015)
10325   146878           Le Grand Restaurant (1966)
10326   148238       A Very Murray Christmas (2015)
10327   148626                 The Big Short (2015)
10328   149532  Marco Polo: One Hundred Eyes (2015)

                                            genres  \
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
10324                    Animation|Children|Comedy
10325                                       Comedy
10326                                       Comedy
10327                                        Drama
10328                           (no genres listed)

                                                features
0      Toy Story (1995) Adventure|Animation|Children|...
1              Jumanji (1995) Adventure|Children|Fantasy
2                 Grumpier Old Men (1995) Comedy|Romance
3          Waiting to Exhale (1995) Comedy|Drama|Romance
4              Father of the Bride Part II (1995) Comedy
...                                                  ...
10324  Cosmic Scrat-tastrophe (2015) Animation|Childr...
10325                  Le Grand Restaurant (1966) Comedy
10326              A Very Murray Christmas (2015) Comedy
10327                         The Big Short (2015) Drama
10328  Marco Polo: One Hundred Eyes (2015) (no genres...

[10329 rows x 4 columns]

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
vectorizer = CountVectorizer()

X = vectorizer.fit_transform(df['features'])

token_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())
print(token_df)

   action  comedy  drama  movie
0       1       0      0      1
1       0       1      0      1
2       0       0      1      1